body {
    display: flex;
    flex-direction: row;
}

.playerpanel {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding-left: 0px;
    border-left: 1px solid #ccc;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
}

#controls {
    display: flex;
    flex-direction: row;
    align-items: center;
}

canvas {
    margin: 30px;
    margin-top: 0px;
    width: 200px;
    height: 200px;
}

.controller {
    border: 2px solid black; 
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

#skip {
    width: 100px;
    height: 100px;
    margin: 10px;
    cursor: pointer;
}

button {
    width: 40%;
}

input[type=text] {
    width: 100%;
}

.autocomplete {
    width: 40%;
    position: relative;
    display: inline-block;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
    color: black;
}

.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}

.selected {
    background-color: #cacaca !important;
}

#countdown {
    font-size: 7em;
    width: 120px;
    text-align: center;
}

#song {
    margin-top: 0.5em;
    font-size: 2em;
}

#playerlist {
    list-style-type: none;
    padding-left: 0px;
}

#playerlist li {
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
}


.playerfinished {
    color: green;
    font-weight: bold;
}