form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 1.2em;
    margin-bottom: 10px;
}

input[type=text] {
    width: 300px;
}

button {
    width: 300x;
}

