body {
    display: flex;
    flex-direction: row;
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    color: black
}

.playerpanel {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding-left: 0px;
    border-left: 1px solid #ccc;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
}

button {
    display: flex;
    position: relative;
    justify-content: center;
    background-color:#5783db;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 40%;
    font-size: 1em;
}

button:hover {
    opacity: 0.8;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 1em;
}

.autocomplete {
    width: 40%;
    position: relative;
    display: inline-block;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
    color: black;
}

.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}

.selected {
    background-color: #cacaca !important;
}

#countdown {
    font-size: 7em;
}

#song {
    margin-top: 0.5em;
    font-size: 2em;
}

#playerlist {
    list-style-type: none;
    padding-left: 0px;
}

#playerlist li {
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
}

h2 {
    text-align: center;
    font-size: 2em;
}

h3 {
    padding-left: 20px;
    font-size: 1.5em;
}

.playerfinished {
    color: green;
    font-weight: bold;
}