body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1a004b;
    color: white;
}

button {
    display: flex;
    position: relative;
    justify-content: center;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
}

button:hover {
    opacity: 0.8;
}

.countdown {
    font-size: 3em;
}